/* components/Shelf.module.css */
.shelf {
  margin-bottom: 2rem;
}

.shelfTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.bookContainer {
  display: flex;
  justify-content: flex-start;
}

.bookSpine {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 14rem;
  width: 3rem;
  background-color: #e2e8f0;
  color: #1a202c;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.bookSpine:hover {
  transform: scale(1.05);
}

.bookDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(-90deg);
  transform-origin: center;
  width: 12rem; /* Adjust this value based on the height of the book spine */
  overflow: hidden;
}

.title {
  font-size: 0.75rem;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.author {
  font-size: 0.625rem;
  margin-top: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
